

<div class='container'>
  <div class="row justify-content-right">
    <div class="col-12">
      <h4>Welcome!</h4>
      <div class='row'>
        
        <div class='col-7'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in nisl magna. Curabitur dignissim lorem eget lacus efficitur, consequat pulvinar justo eleifend. Suspendisse non tortor congue, tempor urna vitae, eleifend orci. Nunc pharetra dignissim sem. Quisque sodales at quam venenatis suscipit. Nam in blandit justo. Nulla bibendum orci diam, nec vestibulum nibh dapibus in. Sed id odio eu arcu tincidunt vulputate. Morbi hendrerit nibh vel eleifend mattis. Vivamus sit amet dapibus dolor.
          </p>
          <br />
          <p>
            Nulla facilisi. In neque sapien, vulputate ut ex id, pretium vehicula quam. Donec facilisis ex nisl, a mollis purus feugiat in. Donec ac consectetur metus, id posuere tellus. Etiam efficitur nisi in posuere finibus. Fusce ultrices nibh vel mauris rhoncus fermentum. Vestibulum hendrerit commodo hendrerit. Ut id dui pellentesque, ultrices elit eget, pellentesque nibh. Integer id elit justo. Ut semper egestas tellus, ac varius libero dapibus ut. Nulla malesuada ante sit amet ipsum consequat, suscipit molestie leo ultrices. Etiam bibendum, neque convallis consectetur tristique, nunc eros rutrum urna, eu suscipit mi ex ut massa.
          </p> 
        </div>
        
        <div class='col-5'>
          <%= image_tag('wine3', size:"380x430") %>
        </div>
      </div>
      
    </div>
  </div>
</div>