<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<%= link_to 'Users', users_backoffice_welcome_index_path %>
<br />
<%= link_to 'Admins', admins_backoffice_welcome_index_path %>